.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #f9f9f9;
}

.chat-content {
  flex: 1;
}

.chat-image {
  margin-right: 20px;
}

.chat-content > p {
  color: gray;
}

.chat-timestamp {
  color: lightgray;
}
